// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$medium-gray: #A8A8A8;
$lighter-gray: #C4C4C4;
$light-gray: #F0F0F0;

$button: #1565C0;
$monkee-light-green: #84DCC6;
$monkee-green: #03666B;
