// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$lighter-purple: #C5CAE9;
$medium-gray: #A8A8A8;
$lighter-gray: #C4C4C4;
$light-gray: #F0F0F0;

$button: #1565C0;
$monkee-black: #333333;


$monkee-green: #019F89;
$monkee-light-green: #55DDC9;
$monkee-yellow: #F7DD54;
$monkee-red: #FD6D5B;
$monkee-blue: #5460F3;
