

#image-header {
  background-image: url("https://images.unsplash.com/photo-1563974514898-7aea295e12fa");
  background-size: cover;
  min-height: 100%;
}


.popup-image {
  max-width: 200px;
}

.activity-main {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-activity h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

#favorite {
  color: red;
}

.activity-info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

}.activity-info-data {
  display: flex;
  background-color: $light-gray;
  justify-content: space-between;
}

.card-activity .card-description p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.activity-heart a {
  font-size: 24px;
  color: red;
}
