#dashboard-shortcuts {
  flex: 1;
  background: white;
  padding: 16px 32px;
  margin: 0 8px;
  display: table;
}

.avatar-image {
  margin: 16px 38px;
}

#dashboard {
  flex: 4;
  padding: 24px 58px;
  background: white;
  hr {
    margin: 0;
  }
}

.user-details {
  color: $medium-gray;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}

.dashboard-tab {
  p {
    margin: 0;
    color: $medium-gray;
  }
}
