#dashboard-shortcuts {
  flex: 1;
  background: $monkee-green;
  display: table;
  position: sticky;
  top: 0;
  border-radius: 2px;
  margin: 16px 32px 0 0;
}

.avatar-image, .shortcuts {
  padding: 16px 0;
}

#dashboard {
  flex: 2;
  background: white;
  margin-top: 16px;
  border-radius: 2px;
  padding: 24px;
}

.user-details {
  color: $medium-gray;
  justify-content: space-between;
  align-items: center;
}

.dashboard-tab {
  h6 {
    color: $monkee-green;
  }
}

.collapse-menu {
  border: 1px solid $monkee-green;
  cursor: pointer;
  padding: 24px;
}

.side-tab {
  color: white;
  margin: 0 24px;
  &:hover {
    color: $monkee-light-green;
  }
}

.nav-tabs {
  border-bottom: 1px solid $monkee-green;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: $monkee-green;
    background-color: #F0F0F0;
    border-color: $monkee-green $monkee-green #F0F0F0;
}

.nav-tabs .nav-link {
    color: $monkee-green;
    &:hover {
      color: $monkee-light-green;
    }
}

.nav-pills .nav-link.active {
  background-color: white;
  color: $monkee-green;
}
