#dashboard-shortcuts {
  flex: 1;
  background: white;
  padding: 16px 32px;
  margin: 0 8px;
  display: table;
  position: sticky;
  top: 16px;
}

.avatar-image {
  margin: 16px 38px;
}

#dashboard {
  flex: 4;
  padding: 24px 58px;
  background: white;
  hr {
    margin: 0;
  }
}

.user-details {
  color: $medium-gray;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}

.dashboard-tab {
  h6 {
    color: $monkee-green;
  }
  p {
    margin: 0;
    color: $medium-gray;
  }
}

.collapse-menu {
  border: 1px solid $monkee-green;
  padding: 16px;
  margin: 8px 0;
  cursor: pointer;
}

.nav-link {
  color: $monkee-green;
  &:hover {
    color: $monkee-light-green;
  }
}

.nav-pills .nav-link.active {
  background-color: $monkee-green;
}
