.footer {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  p {
    font-size: 12px;
    color: $monkee-green;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $monkee-green;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.5;
}
