// Specific CSS for your home-page
// body {
//   background-color: white;
// }

.header-parallax {
  background-image: url("banner3.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;

  padding-top: 64px;
  padding-bottom: 16px;
  span {
    font-family: "Raleway", "sans-serif";
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.6;
    display: block;
    @media screen and (max-width: 48rem) {
        font-size: 1.3rem;
        line-height: 1.2;
        text-align: center;
        padding-top: 16px;
        font-weight: 700;
    }
  }
  @media screen and (max-width: 48rem) {
   padding-bottom: 0px;
  }
}


.header-text {
  color: white;
  padding-bottom: 64px;
}

.buttons {
    @media screen and (max-width: 48rem) {

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        flex-flow: column wrap;
        justify-content: flex-end;

        text-align: center;
    }
}

.banner-btn-1 {
  border: 2px solid white;
  background-color: white;
  border-radius: 4px;
  padding: 16px 128px;
  @media screen and (max-width: 62rem) {
    padding: 16px 64px;
  }
}

.banner-btn-1:hover {
  background-color: $monkee-green;
  border: 2px solid $monkee-green;
  color: white;
}

.banner-btn-2 {
  margin-left: 24px;
  border: 2px solid white;
  border-radius: 4px;
  padding: 16px 128px;
  color: white;
  @media screen and (max-width: 62rem) {
    padding: 16px 64px;
  }
  @media screen and (max-width: 48rem) {
    margin: 16px 0;
  }
}

.banner-btn-2:hover {
  background-color: $monkee-green;
  color: white;
  border: 2px solid $monkee-green;
}


.top-info {
  padding-top: 96px;
  background-color: white;
  padding-bottom: 128px;
}

.boxes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 330px;
  padding: 24px;
  word-wrap: normal;
}

.box-image {
  display: flex;
  justify-content: center;
}

.box-text {
    margin: 0 30px;
    p {
        font-size: 1rem !important;
    }
}

.box-headline h2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 24px;
}

.main-parallax {
  background-image: url("banner2.jpg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: flex-end;

}


.main-action {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 48px;
  @media screen and (max-width: 48rem) {
      display: block;
  }
}

.button-de-merde {
    @media screen and (max-width: 62rem) {
      padding-top: 42px;
    }
}

.banner-btn-3 {
  background-color: $monkee-green;
  color: white;
  border: 2px solid $monkee-green;
  padding: 16px 128px;
  border-radius: 4px;
  @media screen and (max-width: 62rem) {
    padding: 16px 64px;
  }
}

.banner-btn-3:hover {
  border: 2px solid white;
  background-color: white;
}

.main-parallax h2 {
  font-weight: bold;
  color: white;
}

.main-info h2 {
  font-weight: bold;
}

.review-section {
  background-color: white;
  padding-top: 96px;
}

.review-section h2 {
  font-weight: bold;
}

.review-section-text p {
  font-size: 24px !important;
    margin: 0 8px;
    padding: 0 0 16px 16px;
    display:  flex;
    justify-content: space-between;
    @media screen and (max-width: 48rem) {
     font-size: 14px !important;
    }
}

.quotes {
  color: $monkee-blue;
}
