#newsfeed-actions {
  border: 1px solid $monkee-green;
  flex: 1;
}

.find-friends {
  background: $monkee-green;
  height: max-content;
}

.upcoming-activities {
  border: 1px solid $monkee-green;
}

#newsfeed {
  border: 1px solid $monkee-green;
  flex: 3;
}
