<div class="main-container">
  <div class="container">
    <button>Go back</button>

    <div class="flex-container">
      <div id="dashboard-shortcuts" class="text-center">
        <div class="avatar-image">
          <%= image_tag current_user.avatar || "avatar-default.png", class: 'avatar-xtra-large' %>
        </div>
        <div class="shortcuts">
          <a href="#bookings"><button class="button-lg">BOOKINGS</button></a><br>
          <a href="#reviews"><button class="button-lg">REVIEWS</button></a><br>
          <a href="#favourites"><button class="button-lg">FAVOURITES</button></a>
        </div>
      </div>

      <div id="dashboard">
        <h1>Name</h1>
        <div class="flex-container">
          <p>Location</p>
          <button>Edit profile</button>
        </div>
        <hr>
        <div id="bookings">
          <h2>Bookings</h2>
        </div>
        <div id="reviews">
          <h2>Reviews</h2>
        </div>
        <div id="favourites">
          <h2>Favourites</h2>
        </div>
      </div>
    </div>
  </div>
</div>
