<footer>
  <div class="footer">
    <br>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div>
      <p>Monkee © 2019</p>
    </div>
  </div>
</footer>
