<div class="header">
  <div class="container">
    <div class="text">
      <h1>Find activities for your tribe. Create activities for other tribes. Find your friends favorite activites.</h1>
    </div>
    <div class="buttons">
      <%= link_to "Find activities", activities_path, class: 'banner-btn-1' %>
      <%= link_to "Create activity", activities_path, class: 'banner-btn-2' %>
    </div>
  </div>
</div>
