<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "background.jpg" %>);">
  <div class="container">
    <h1>MONKEE.</h1>
    <p>Find a babysitter for your tribe!</p>
    <%= link_to "Find activities!", activities_path, class: 'submit-button px-5 py-1' %>
  </div>
</div>
