.container-index {
  // background-color: grey;
  padding: 0 5%;
}

.left-panel {
  // background-color: blue;
}

.right-panel {
  // background-color: red;
  width: 100%;
}

.card-row {
  justify-content: space-around;
}
.sort-bar {
  background: $light-gray;
  color: #455A64;
}

.cards {
  padding: 0px !important;
  margin: 10px;
  border-radius: 8px;
  background-color: white;
  max-width: 332px;
}

img {
  height: 200px;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.heart {
  position: absolute;
  font-size: 24px;
  color: #F44336;
  top: 16px;
  right: 16px;
}

.card-header {
  background: white;
  padding: 0px !important;
  border: 0px !important;
}

.card-title {
  color: #455A64;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
  padding-left: 12px;
  margin-bottom: 0px !important;
}

.card-date {
  font-size: 12px;
  color: $medium-gray;
  padding-left: 12px;
}

.card-details {
  display: flex;
  padding: 0px !important;
  justify-content: space-between;
}

.card-address {
  font-size: 12px;
  color: $medium-gray;
  padding: 12px !important;
}

.card-categories {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.badge {
  margin-right: 8px;
}

.badge-primary {
  padding-left: 12px;
  padding-right: 12px;
}

.badge-secondary {
  background-color: #84DCC6;
}

.card-description {
  background: white;
  padding-left: 12px !important;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 48px;
  color: #455A64;
}

.card-price {
  display: flex;
  color: #455A64;
  font-weight: bold;
  justify-content: space-between;
  background: #84DCC6;
  border-radius: 0px 0px 8px 8px;
  padding: 12px !important;
  font-size: 14px;
}
