
.container {
  // background-color: grey;
  padding: 0 5%;
}

.suggestion-panel {
  background-color: orange;
  justify-content: space-around;
}

.suggestion-card {
  width: 200px;
  height: 200px;
  background-color: white;
}

.right-panel {
  // background-color: red;
  width: 100%;
}

.card {
 display: block;
}

.sort-bar {
  // background: blue;
  color: #455A64;
}

.card-wrapper {

}

.cards {
  padding: 0px !important;
  margin: 0px 10px 20px 10px;
  background-color: white;
  border-radius: 2px;
  img {
    height: 200px;
    width: 100%;
  }
  @media screen and (max-width: 48rem) {
    width: 500px;
    margin: 0 auto 20px;
    img {
        height: 350px;
    }
  }
  @media screen and (max-width: 36rem) {
    width: 300px;
    margin: 0 auto 20px;
    img {
        height: 200px;
    }
  }
}

.card-image {
    position: relative;
}


.heart {
  position: absolute;
  font-size: 24px;
  color: $monkee-red;
  top: 16px;
  right: 16px;
}

.card-header {
  background: white;
  padding: 0px !important;
  border: 0px !important;
}

.card-title {
  color: #455A64;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
  padding-left: 12px;
  margin-bottom: 0px !important;
}

.card-date {
  font-size: 12px;
  color: $medium-gray;
  padding-left: 12px;
}

.card-details {
  display: flex;
  background-color: white;
  padding: 0px !important;
  justify-content: space-between;
}

.card-address {
  font-size: 12px;
  color: $medium-gray;
  background-color: white;
  padding: 12px !important;

}

.card-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding-right: 12px;
}

.badge {
  margin-right: 8px
}

.badge-primary {
  padding-left: 12px;
  padding-right: 12px;
  background-color: $monkee-green;
}

.badge-secondary {
  background-color: $monkee-red;
}

.card-description {
  background: white;
  padding-left: 12px !important;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 48px;
  color: #455A64;
}

.card-price {
  display: flex;
  color: #455A64;
  font-weight: bold;
  justify-content: space-between;
  padding: 12px !important;
  font-size: 14px;
  border-top: 1px solid $monkee-yellow;
}


.col {
  margin-bottom: 24px;
}
