.filter-menu {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);

  h5 {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 8px;
    font-size: 24px;
  }
}
