
.map-container {
  background-color: blue;
  border: 2px solid orange;
  margin-top: 8px;
  margin-bottom: 8px;
}

.mapboxgl-popup {
  width: 100%;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
