.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  height: 400px;
  width: 100%;
}

.index-map {
  height: 80vh !important;
}

.sticky-map-filter {
  height: 100vh !important;
  position: sticky !important;
  top: 80px;
}
