.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-family: $logo-font;
  color: $monkee-green;
  font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: $monkee-green;
  cursor: pointer;
}

.form-group {
  margin: 24px;
}

.modal-content {
  h3 {
  margin-left: 24px;
  margin-top: 24px;
  font-weight: bold;
  }

  .field {
  margin: 24px;
  }
}


