.select2-container--default .select2-selection--multiple {
//   background-color: white;
//   border: none !important;
//   border-radius: 4px;
//   cursor: text;
  flex: 2 !important;
  background: white !important;
  border:1px solid #ced4da !important;
  border-radius: 6px !important;
  letter-spacing: 0.25px !important;

  margin: 12px !important;
  height: 40px !important;

.select2-container {
  // box-sizing: border-box;
  // display: inline-block;
  // margin: 0;
  // position: relative;
  // vertical-align: middle;
  // width: 300px !important;
  // background-color: red;
}
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .select2-container .select2-selection--single .select2-selection__clear {
      position: relative; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      margin-top: 0px;
      border: none;
      font-size: 100%;
      // margin-top: 5px;
      padding: 0; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }
}

