
<div class="main-container">
<!-- --------------------------- -->
<!-- ACTIVITIES FILTER CONTAINER -->
<!-- --------------------------- -->
  <div class="row">
    <div class="activities-filter-container">
      <div class="map"></div>

      <div class="filter-options-container">
        <h4>Filter options</h4>

        <!-- DATE SELECTOR -->

        <div class="date-selector">
          <button class="drop-down">Select dates</button>
          <button class="date-picker">Date picker</button>
          <button>Any day</button>
        </div><!-- EOL -->

        <!-- AGE SELECTOR -->

        <div class="age-selector">
          <button class="drop-down">Select ages</button>
          <ul>
            <li>Babies</li>
            <li>Toddlers</li>
            <li>3-5 years</li>
            <li>6-9 years</li>
            <li>+9 years</li>
          </ul>
        </div><!-- EOL -->

        <!-- ACTIVITIES SELECTOR -->

        <div class="activities-selector">
          <button class="drop-down">Looking for activities</button>
          <ul>
            <li>Courses</li>
            <li>Creative Workshop</li>
            <li>Mindfulness</li>
            <li>Music & Danse</li>
            <li>Playdates</li>
            <li>Outdoors</li>
            <li>Sports</li>
            <li>Days at the farm</li>
            <li>All</li>
          </ul>
        </div><!-- EOL -->

        <!-- ACTIVITIES SELECTOR -->

        <div class="places-selector">
          <button class="drop-down">Looking for activities</button>
          <ul>
            <li>Eating</li>
            <li>Culture & Exhibitions</li>
            <li>Boutiques</li>
            <li>Spectacles</li>
            <li>Playgrounds</li>
            <li>Libraries</li>
            <li>All</li>
          </ul>
        </div> <!-- EOL -->
      </div> <!-- EO FILTER OPTION CONTAINER -->
    </div>
  </div>

<!-- --------------------------- -->
  <!-- ACTIVITIES CARDS LIST -->
<!-- --------------------------- -->
  <div class="row">
    <div class="activities-list-container">

      <!-- ACTIVITY CARD -->
      <div class="activity-card">
        <img class="card-image" src="" alt="">
        <p><i class="far fa-heart"></i></p>

        <!-- ACTIVITY BODY -->
        <div class="card-body-container">

          <div class="card-header-container">
            <h5 class="card-title">Yoga classes for children</h5>
            <div class="card-date">
              <h6>19 July 2019 at 15:00 • 3 hours</h6>
            </div>
            <div class="ratings">
              <h5>* * * * *</h5>
            </div>
          </div>

          <div class="card-subheader-container">
            <p><i class="fas fa-map-marker-alt"></i>16 km |
            <button class="card-tags">Toddler</button>
            <button class="card-tags">Creative Workshop</button>
            </p>
          </div>

          <div class="card-text">
            <p>Lorem ipsum dolor sit amet, consectetur amid adipiscing elit. Donec consectetur nisl at este</p>
          </div>

          <div class="card-footer-container">
            <div class="price">
              <p class="text-muted">150 NOK/child</p>
            </div>
          </div>

        </div><!-- EO ACTIVITY BODY -->
      </div><!-- EO ACTIVITY CARD -->
    </div>
  </div>
</div>


